@import '~src/variables';

$block-numbers: 20;

:host {
  display: block;
  background: $secondary;
  margin: $gap-xs;
  width: calc((100vw - 72px) / #{$block-numbers});
  height: calc((100vw - 72px) / #{$block-numbers});
  &.app-block__is-snake {
    background: $primary;
    border-radius: $gap-xs * 2;
  }
  &.app-block__is-apple {
    background: $accent;
    border-radius: 50%;
  }
}
