@import '~src/variables';

:host {
  display: block;
  padding: $gap-sm;
}

.game__commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $gap-md;
  &--left-right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

.game__command {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  color: $secondary;
  border-radius: $border-radius;
  height: 80px;
  margin: $gap-sm / 2;
  font-size: 18px;
}

.game__score {
  text-align: right;
  margin-bottom: $gap-sm;
}
