@import '~src/variables';

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .board {
    &__container {
      margin: $gap-md;
      border: 1px solid $primary;
    }
    &__row {
      display: flex;
    }
  }
}
