@import '~src/variables';

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 440px;
  .board {
    &__row {
      display: flex;
      width: 100%;
    }
  }
}
