@import '~src/variables';

:host {
  display: block;
  margin: $gap-xs;
  width: calc((100vw - 54px) / #{$block-numbers});
  height: calc((100vw - 54px) / #{$block-numbers});
  max-width: $max-block-size;
  max-height: $max-block-size;
  border-radius: $border-radius;

  &.app-block__is-snake {
    background: $primary;
  }
  &.app-block__is-apple {
    background: $secondary;
    border: 2px solid $primary;
    transform: rotate(45deg);
  }
}
