@import '~src/variables';

:host {
  display: block;
  margin: $gap-md;
}

.game__commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $gap-md;
  &--left-right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

.game__command {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary;
  padding: $gap-xl;
  margin: $gap-xs;
}
