<app-board
  [boardBlocks]="(boardBlocks$ | async)">
</app-board>

<div class="game__commands">
  <div class="game__command" (click)="top()">↑</div>
  <div class="game__commands--left-right">
    <div class="game__command" (click)="left()">←</div>
    <div class="game__command" *ngIf="isPlay()" (click)="pause()">PAUSE</div>
    <div class="game__command" *ngIf="isPause() || isReady()" (click)="play()">PLAY</div>
    <div class="game__command" *ngIf="isGameOver()" (click)="restart()">RESTART</div>
    <div class="game__command" (click)="right()">→</div>
  </div>
  <div class="game__command" (click)="bottom()">↓</div>
</div>

<div>{{snakeLength}}</div>
