@import "~src/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $accent;
}

body {
  background-image: linear-gradient($primary-light, $primary-dirty);
  min-height: 100vh;
  font-family: Futura, sans-serif;
  font-size: 12px;
}
