@import "~src/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary;
}

body {
  background: $secondary;
  min-height: 100vh;
  font-family: "Courier New", sans-serif;
  font-size: 14px;
}
