$primary: #696C30;
$secondary: #C4CC00;
$text-dark: #262626;
$accent: #db3236;
$accent-dirty: #e7646a;

$gap-xs: 1px;
$gap-sm: 6px;
$gap-md: 12px;
$gap-lg: 24px;
$gap-xl: 32px;

$border-radius: 4px;

$block-numbers: 20;

$max-board-size: 440px;
$max-block-size: 20px;
